body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
 display:flex;
 justify-content: space-between;
}

#logo {
  margin-left: 20px;
  box-shadow: 0 0 3px 3px teal;
  padding: 7px;
  border-radius: 20px;
}

.rightside  {
  display:flex;
  justify-content: space-between;
}

#rightSide  {
  display: flex;
  padding-right: 40px;
  width: 280px;
  margin-right: 40px;
  align-items: right;
  justify-content: space-between;
  align-items: center;
  
}